body{
    font-family:Geneva;
    width: 100%;
    margin: 0;
}

nav{
    background-color: green;
    display: flex;
     gap: 1rem;

    /*positie*/
    position: sticky;
    z-index: 10;
    /*hoogte*/ 

    ul{
        display: flex;
         flex-grow: 1;
    }

    li{
        flex-grow:1;
        justify-content: center;
    }

    a{
        color: white;
        text-decoration: none;
    }
}


section{
    display: grid;
     grid-template-columns: 1fr 4fr 1fr;
     grid-template-rows: 1fr 1fr 1fr;


    z-index: 2;
}

header{
    background-color: chartreuse;
     background-size: contain;
    height: 20em;

    /*positie*/
    position: relative;
     grid-column-start: 2;

     text-align: left;
     place-content: left;

    display: grid;
     grid-template-rows: 2fr 1fr 1fr 1fr;

     /*text aanpassingen*/
     font-size: x-large;

     a{
        position: relative;
         left: 20px;
     }

     a:hover{
        
     }

     h1{
        position: relative;
         left: 20px;
     }
}

main{
    background-color: aqua;
    height: 1em;
    /*positie en grids*/
    grid-column-start: 2;

    position: relative;
}

article{
    background-color: sienna;
    text-align: center;
    place-content: center;

   display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

footer{
    background-color: gold;
    /*Kleur en stijl*/
    display: grid;
     grid-template-columns: 1fr;
     grid-template-rows: 1fr 1fr 1fr 1fr;
}

ul{
    list-style: none;
}
ul:nth-last-of-type(1){
    grid-row-start: 1;
}

ul:nth-last-of-type(2){
    grid-row-start: 1;
}

ul:nth-last-of-type(3){
    grid-row-start: 1;
}